In [3]:
import pandas as pd
import os
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report

# Flakify Results

In [2]:
flakify_flaky_test_predict = pd.read_csv('./results/flaky_test_predict_results.csv')
flakify_flaky_test_predict.head()

,Unnamed: 0,project,class,test_name,final_code,flaky,predict
0,0,oozie,TestCoordSubmitXCommand,testSubmitReservedVars,/**\n * Don't include controls in XML.\n *\n *...,1,1
1,1,oozie,TestAuthFilterAuthOozieClient,testClientWithAnonymous,public void testClientWithAnonymous() throws E...,1,0
2,2,oozie,TestBulkMonitorJPAExecutor,testJavaNoRecords,public void testJavaNoRecords() throws Excepti...,1,1
3,3,oozie,TestLiteWorkflowStoreService,testRetry,public void testRetry() throws Exception {\n ...,1,0
4,4,oozie,TestPurgeXCommand,testPurgeWFWithSubWF3,/**\n * Test : The subworkflow should get purg...,1,1

In [9]:
# How many test cases detected in each project
flakify_flaky_test_predict.groupby(by='project').count()

                Unnamed: 0  class  test_name  final_code  flaky  predict
project
achilles                75     75         75          75     75       75
ambari                  13     13         13          13     13       13
assertj-core         12024  12024      12024       12024  12024    12024
commons-exec           124    124        124         124    124      124
dropwizard            1730   1730       1730        1730   1730     1730
hadoop                4178   4178       4178        4178   4178     4178
hbase                  529    529        529         529    529      529
hector                  20     20         20          20     20       20
httpcore              1413   1413       1413        1413   1413     1413
jackrabbit-oak       11504  11504      11504       11504  11504    11504
jimfs                  577    577        577         577    577      577
logback                681    681        681         681    681      681
ninja                 1086   1086       1086        1086   1086     1086
okhttp                  66     66         66          66     66       66
oozie                 1209   1209       1209        1209   1209     1209
orbit                    8      8          8           8      8        8
oryx                   474    474        474         474    474      474
spring-boot           8286   8286       8286        8286   8286     8286
togglz                 480    480        480         480    480      480
wro4j                 1245   1245       1245        1245   1245     1245
zxing                  499    499        499         499    499      499

In [8]:
# for project in flakify_flaky_test_predict['project'].unique():

# TN, FP, FN, TP = confusion_matrix(target_data, preds, labels=[0, 1]).ravel()

                Unnamed: 0  class  test_name  final_code  flaky  predict
project
achilles                75     75         75          75     75       75
ambari                  13     13         13          13     13       13
assertj-core         12024  12024      12024       12024  12024    12024
commons-exec           124    124        124         124    124      124
dropwizard            1730   1730       1730        1730   1730     1730
hadoop                4178   4178       4178        4178   4178     4178
hbase                  529    529        529         529    529      529
hector                  20     20         20          20     20       20
httpcore              1413   1413       1413        1413   1413     1413
jackrabbit-oak       11504  11504      11504       11504  11504    11504
jimfs                  577    577        577         577    577      577
logback                681    681        681         681    681      681
ninja                 1086   1086       1086        1086   1086     1086
okhttp                  66     66         66          66     66       66
oozie                 1209   1209       1209        1209   1209     1209
orbit                    8      8          8           8      8        8
oryx                   474    474        474         474    474      474
spring-boot           8286   8286       8286        8286   8286     8286
togglz                 480    480        480         480    480      480
wro4j                 1245   1245       1245        1245   1245     1245
zxing                  499    499        499         499    499      499